.contact-container{
    height: calc(100vh - 131px);
}


.container3 {
    height: 90%;
    width: 80%;
    margin: auto;
    padding: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 20px;
    margin: 30px;
}

.inputs input {
    padding: 8px;
    border-radius: 9px;
    border: 2px solid #3ec5ec;
}

.inputs textarea {
    padding: 6px;
    border-radius: 9px;
    border: 2px solid #38d786;
    font-size: 17px;

}

.inputs button {
    width: 100px;
    padding: 6px 0;
    border-radius: 9px;
    cursor: pointer;
    border: #38d786;
    background-color: #38d786;
     color: white;
     font-size: 16px;
}

.inputs button:hover {
    background-color:#3ec5ec;
   
    transition: all .3s ease-in;
}

@media screen and (max-width:800px) {
    .container3 h2 {
        font-size: 18px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 13px;
        margin: 15px;
    }

    .inputs textarea {
        padding: 4px;
        border-radius: 9px;
        font-size: 15px;

    }

    .inputs input {
        padding: 6px;
    }
}
@media screen and (max-height:605px){
     .container3 h2 {
        font-size: 18px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 13px;
        margin: 10px;
    }

    .inputs textarea {
        padding: 4px;
        border-radius: 9px;
        font-size: 15px;

    }

    .inputs input {
        padding: 6px;
    }
} 